<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie-edge">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.css' %}">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<nav>
						<ul>
							<li><a href="">Proyectos</a></li>
							<li ><a href="" class="active">Convocatioria</a></li>
							<li><a href="">Personal</a></li>
							<li><a href="">Consultas</a></li>
							<li><a href="">Ayuda</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<section class="container-fluid" id="box-personal">
		<div class="container">
			<div class="row box">
				<div class="col-lg-12 contenido_2">
					<div class="row">
						<div class="col-lg-12 relative">
							<h2>Personal</h2>
							<table class="table table-striped table-bordered table-responsive table-hover col-lg-12">
								<thead>
									<th>Código</th>
									<th>Descripción</th>
									<th>Tipo de Persona</th>
									<th>Profesión</th>
									<th>Cargo</th>
									<th>DNI	</th>
								</thead>
								<tbody>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>En esta parte se pone alguna descripcion n</td>
										<td>Aca algun tipo de persona creo o algo mas o nose  </td>
										<td>Ingeniería de Sist</td>
										<td>Obra</td>
										<td>98425448</td>

									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
									<tr>
										<td>AS-SM-1-2018</td>
										<td>21/05/18</td>
										<td>30/05/18</td>
										<td>13/07/18</td>
										<td>Obra</td>
										<td>98425448</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid" id="form">
		<div class="container">
			<div class="row">
				<h2>Datos Generales del Personal para la Convocatoria</h2>
				<div class="col-lg-12 contenido_3">
					<form class="form">
						  <div class="form-row ">
						    <div class="form-group col-lg-3">
						      <label class="mr-sm-2" for="inlineFormCustomSelect">Num. Convocatoria</label>
						      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
						        <option selected>-Seleccione-</option>
						        <option value="1">1</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
						    </div>

							<div class="form-group offset-lg-5 col-md-3 ">
							      <label for="inputMouth_c">Meses</label>
							      <select id="inputMouth_c" class="form-control">
							        <option selected>-Seleccione-</option>
							        <option selected>1</option>
							        <option selected>2</option>
							        <option selected>3</option>
							        <option selected>4</option>
							        <option selected>5</option>
							      </select>
							  </div>
						    <div class="form-group col-lg-3">
							    <label for="Cod_Personal">Codigo Personal</label>
							    <input type="text" class="form-control" id="Cod_Personal" placeholder="255949" >
						  	</div>
						  	  <fieldset class="form-group offset-lg-1 col-lg-3">
							    <div class="row">
							      <legend class="col-form-label col-sm-4 pt-0">Experiencia</legend>
							      <div class="col-sm-8">
							        <div class="form-check">
							          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
							          <label class="form-check-label" for="gridRadios1">
							            Si
							          </label>
							        </div>
							        <div class="form-check">
							          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
							          <label class="form-check-label" for="gridRadios2">
							            No
							          </label>
							        </div>
							      </div>
							    </div>
							  </fieldset>
								<div class="form-group offset-lg-1 col-md-3 ">
							      <label for="inputDay_c">Días:</label>
							      <select id="inputDay	_c" class="form-control">
							        <option selected>-Seleccione-</option>
							        <option selected>1</option>
							        <option selected>2</option>
							        <option selected>3</option>
							        <option selected>4</option>
							        <option selected>5</option>
							      </select>
							    </div>
							<div class="form-group col-md-3 ">
							      <label for="inputDay_c">Cargo:</label>
							      <select id="inputDay	_c" class="form-control">
							        <option selected>-Seleccione-</option>
							        <option selected>Obra</option>
							      </select>
							    </div>
 							<div class="form-group col-md-3 ">
							      <label for="inputDay_c">Vigencia:</label>
							      <select id="inputDay	_c" class="form-control">
							        <option selected>-Seleccione-</option>
							        <option selected>Caducado</option>
							      </select>
						    </div>
						   </div>
						      <div class="form-row align-items-center">
						      	<div class="col-lg-2">
						      		<label  for="inlineFormInput">Carrera Profesional :</label>
						      	</div>
								<div class="col-lg-4">
								  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ingeniería">
								</div>
								<div class="col-lg-3">
								  <label class="sr-only" for="inlineFormInputGroup">Username</label>
								  <div class="input-group mb-2">
								    <div class="input-group-prepend">
								      <div class="input-group-text">@</div>
								    </div>
								    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Correo">
								  </div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button>Buscar</button>
									<button>Guardar</button>
									<button>Nuevo</button>
								</div>
							</div>
						  </div>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
