

@font-face
    font-family 'DRound'
    src url('../fonts/DINRoundOT.otf')
@font-face
    font-family 'DRound-Black'
    src url('../fonts/DINRoundOT-Black.otf')
@font-face
    font-family 'DRound-Bold'
    src url('../fonts/DINRoundOT-Bold.otf')
@font-face
    font-family 'DRound-Medi'
    src url('../fonts/DINRoundOT-Medium.otf')
@font-face
    font-family 'Cumple-font'
    src url('../fonts/Birthday-font.ttf')

body
	font-family DRound-Medi
	background-color #57ABE5
header
	margin 20px
	nav
		background-color #fff
		border 2px solid black
		border-radius 5px
		padding 15px 0px 1px 0px
		
		ul
			display inline-flex
			list-style none

			li
				margin-left 10px
				margin-right 10px
				.active
					color #E56234
				a
					color black
					&:hover
						text-decoration none
						color #E56234
#box-convocatorias
	.box
		padding 15px
		.contenido	
			border 2px solid black
			border-radius 5px
			padding 10px
			.relative
				h2
				    position absolute
				    top -8%
				    left 5%
				    background-color #57ABE5
				    padding 5px
				form
					margin-top 30px
				table
					background-color #fff
					margin-top 20px
					font-size 13.5px
					overflow scroll
					height 300px;
					a
					    text-align center
					    display block
					    background-color #fd7866
					    border 1px solid #fd7866
					    border-radius 2px
					    width 40px
					    color black
//Seleccion

.seleccion
	background-color #C5B6CB
#top
	padding 20px
.button
    border-radius 5px
    border 2px solid black
    padding 5px 10px 5px 10px
#box-convocatorias-info
	.box_2
		position relative
		h3
		    position absolute
		    left 2%
		    top 5%
		    font-size 15px
		    background-color #C5B6CB
		    z-index 1
		    padding 5px
		.rebelde
		    position absolute
		    left 20%
		    top 5%
		    font-size 15px
		    background-color #C5B6CB
		    z-index 1
		    padding 5px
	table
		margin-top 30px
		padding 20px
		border 3px solid black
		thead
			border 2px solid black
			background-color #fff
		tbody
			border 2px solid black
			background-color #fff
			.relleno
				width 50%
			.relleno2
				width 56%
			.relleno3
				width 30%
			.relleno4
				width 35%
			.relleno5
				width 400px
			td
				font-size 16px
			.file
				text-align center
				i
					font-size 25px

//Personal
#box-personal
	.box
		padding 30px
		.contenido_2	
			border 2px solid black
			border-radius 5px
			padding 10px
			.relative
				h2
				    position absolute
				    top -11%
				    left 4%
				    background-color #57ABE5
				    padding 5px
				form
					margin-top 30px
				table
					background-color #fff
					margin-top 20px
					font-size 13.5px
					overflow scroll
					height 300px
#form
	position relative
	h2
	    position absolute
	    top -4%
	    left 10%
	    background-color #57ABE5
	    padding 5px
	    z-index 1
	    font-size 18px
	
	.contenido_3	
		border 2px solid black
		border-radius 5px
		padding 10px
	form
		margin-top 10px
		padding 10px
		button
		    background-color #27C825
		    border 2px solid black
		    -webkit-box-shadow 5px 5px 5px 0px rgba(0 0 0 0.75)
		    -moz-box-shadow 5px 5px 5px 0px rgba(0 0 0 0.75)
		    box-shadow 5px 5px 5px 0px rgba(0 0 0 0.75)
		    margin 5px
		    border-radius 5px
			font-size 18px

		fieldset
			padding-top 20px

			    
					



					
				